{% extends 'main.html' %}
{% block title %} Contact Us{% endblock title %} 

{% block content %}
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-lg-8">
                        <div class="card bg-light mb-3 w-100">
                            <div class="card-body w-100" style="float: none;">
                                <div class="card-block w-100">
                                            <h3 class="text-primary">Hamro Sewa</h3>
                                            <p style="color:black;"><strong>Address :</strong> Shankhamul, Kathmandu </p>
                                            <p style="color:black;"><strong>Phone :</strong> +977-1-4211208, +977-1-4211214 1112</p>
                                            <p style="color:black;"><strong>Fax :</strong> +977-1-4211257, +977-1-4211286</p>
                                            <p style="color:black;"><strong>Email :</strong> <a href="mailto:control@website.com">control@website.com</a></p>
                                            <p style="color:black;"><strong>Facebook : </strong><a href="https://www.facebook.com"
                                                    target="_blank">https://www.facebook.com</a></p>
                                            <p style="color:black;"><strong>Twitter : </strong><a href="https://twitter.com"
                                                    target="_blank">https://twitter.com</a></p>
                                </div>
                            </div>
                        </div>  
                        <br>
                    </div>

                    <!-- Maps -->
                    <div class="col-md-4">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7066.125684725451!2d85.32978327459445!3d27.684452531205487!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb19bfd910ffe9%3A0x66f431dda92f7629!2sShankhamul%2C%20Kathmandu%2044600!5e0!3m2!1sen!2snp!4v1658290435108!5m2!1sen!2snp"
                            width="412" height="365" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>    
    

{% endblock content %}