<section class="bottom-header" style="max-width:none;">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <a href="/">
                    <h2>HAMRO SEWA</h2>
                </a>
            </div>
            <div class="col-md-8">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="/">HOME<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/news">NEWS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/services">SERVICES</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/contact_us"></i>CONTACT</a>
                            </li>
                        </ul>
                    </div>
                    <div class="offset-md-0 col-md-6 search-box">
                        <div class="input-group mt-6">
                            <input type="text" class="form-control" placeholder="" aria-label=""
                                aria-describedby="basic-addon1">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</section>
